*{margin: 0;
    color: black;
}
html{
    width: 100%;
}

body{width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex: 1 0 auto;
}

a{
    text-decoration: none;
}


/* l'entête */
header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color:#fdfdfd;
    align-items: center;
    order: 1;
    flex: 1 0 auto;
}

.logo{
    text-transform: uppercase;
    width: 30%;
    height: auto;
    list-style-type: none;
}

ul.lien_header{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 30px;
    text-transform: uppercase;
    list-style-type: none;
}

.lien_header>li>a:hover{
    opacity: 0.4;
}

/* le main(partie centrale) */
main{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    position:relative;
    width: 100%;
    height: auto;
    order: 2;
}


.nav_main{
    position: relative;
    width: 100%;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #BD8D46;
}

/* la 1ere partie du main */
.section1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    width:100%;
    height: 100vh;
    background: url(../images/img1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 div>p{
    color: #fff;
}

.div_section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.div_section1>h1{
    font-size:74px;
    color: #ffff;
}
.div_section1>p{
    
    font-size:24px;
}

div.div_reservation{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: center;
}

.div_reservation>h3{
    margin-bottom: 30px;
    background-color:rgba(80, 20, 40, 0.4);
    color: white;
}

.formulaire{
   height: 30px;
    } 
 .formulaire:hover{
        cursor: pointer;
        opacity: 1;
    }

/* la 2e partie */
.section2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
}

.section2>h1{
    font-size: 50px;
    padding-bottom: 70px;
    border-bottom-style: dashed;
    border-bottom-color: black;
}

.section2>p{
    font-size: 24px;
    text-align: center;
}

.section2>a{
    background-color:  #BD8D46;
    font-size: 30px;
    text-align: center;
}.section2>a:hover{
    opacity: 0.5;
    text-align: center;
}

/* la 3e partie */
.section3{
    width: 100%;
    height: 100vh;
}

.event{
    height: 50vh;
    display: flex;
    flex: 1 0 auto;
}
.event_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
    
}
.event_text>h1{
    font-size: 40px;
}
.image_event{
    width: 50%;
}

.images{
    
    height: 50vh;
    display: flex;
    flex: 1 0 auto;
}
.images>a>span{
    visibility: hidden;
}
.images>a{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.image1{background: url("../images/img3.jpg");
}
.image2{background: url("../images/img2.jpg" );
}
.image3{background: url("../images/img5.jpg"); 
}


/* la 4e partie */
.section4{
    position: relative;
    width: 100%;
    background-color: gray;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 0 auto;
}


/* le footer */
footer{
    position: relative;
    width: 100%;
    height:60vh;
    background-color: cornflowerblue;
    display: flex;
    order: 3;
    flex: 1 0 auto;}


.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    width: 50%;
    font-size: 30px;
}

.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 auto;
    width: 50%;
}


.bouton{
    height: 30px;
    background-color:#BD8D46;
    cursor: pointer;
}

/* responsive */
@media only screen and (min-width: 320px) and (max-width:425px) {
  body{
    width: 100%;
  }
    header{
        position: sticky;
        width:100%;
        padding:10%;
    }
    ul.lien_header{
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
    .section1,.section2,.section3,.section4{
        width: 100%;
    }

   .formulaire{
    width: 100%;
   }
   
   .images>a{
    background-size:cover;
    background-position: center;
   }
  

}
